Repository tangle-network/dapp, pull requests merged in 2024-02, with the labels that each got.

#2010 [UI] Node Specifications & Service Tables on Validator page on Tangle Dapp
  apps/tangle-dapp/app/nomination/[validatorAddress]/page.tsx
  apps/tangle-dapp/components/Breadcrumbs/Breadcrumbs.tsx
  apps/tangle-dapp/components/ServiceTable/ServiceTable.tsx
  apps/tangle-dapp/components/ServiceTable/index.ts
  apps/tangle-dapp/components/ServiceTable/types.ts
  apps/tangle-dapp/components/ValidatorTable/ValidatorTable.tsx
  apps/tangle-dapp/components/index.ts
  apps/tangle-dapp/constants/polkadot.ts
  apps/tangle-dapp/containers/Layout/Layout.tsx
  apps/tangle-dapp/containers/NodeSpecificationsTableContainer/NodeSpecificationsTableContainer.tsx
  apps/tangle-dapp/containers/NodeSpecificationsTableContainer/index.ts
  apps/tangle-dapp/containers/ServiceTablesContainer/ServiceTableContainer.tsx
  apps/tangle-dapp/containers/ServiceTablesContainer/ServiceTablesContainer.tsx
  apps/tangle-dapp/containers/ServiceTablesContainer/index.ts
  apps/tangle-dapp/containers/index.ts
  apps/tangle-dapp/data/ServiceTables/getActiveServices.ts
  apps/tangle-dapp/data/ServiceTables/getPastServices.ts
  apps/tangle-dapp/data/ServiceTables/index.ts
  apps/tangle-dapp/data/useNodeSpecifications.ts
  apps/tangle-dapp/types/index.ts
  apps/tangle-dapp/utils/getChipColorByRoleType.ts
  apps/tangle-dapp/utils/index.ts
  libs/dapp-config/src/wallets/injected/metamask.ts
  libs/dapp-config/src/wallets/injected/rainbow.ts
  libs/dapp-config/src/wallets/wallets-config.tsx
  libs/icons/src/CheckboxBlankCircleLine.tsx
  libs/webb-ui-components/src/components/Chip/types.ts
  libs/webb-ui-components/src/components/Chip/utils.ts
Labels: wip 🚧

#2011 Fix Flicker Theme issue on Tangle Dapp
  apps/tangle-dapp/app/providers.tsx
  libs/webb-ui-components/src/provider/index.tsx
  libs/webb-ui-components/src/provider/types.ts
Labels: needs review 👓

#1997 Execute flows for Substrate wallets
  apps/tangle-dapp/app/claim/EligibleSection.tsx
  apps/tangle-dapp/app/claim/page.tsx
  apps/tangle-dapp/app/claim/success/page.tsx
  apps/tangle-dapp/app/providers.tsx
  apps/tangle-dapp/components/BondedTokensBalanceInfo/BondedTokensBalanceInfo.tsx
  apps/tangle-dapp/components/NominatorStatsItem/NominatorStatsItemText.tsx
  apps/tangle-dapp/components/UnbondingStatsItem/UnbondingStatsItem.tsx
  apps/tangle-dapp/components/UnbondingStatsItem/index.ts
  apps/tangle-dapp/components/index.ts
  apps/tangle-dapp/constants/index.ts
  apps/tangle-dapp/constants/polkadot.ts
  apps/tangle-dapp/containers/BondMoreTxContainer/BondMoreTxContainer.tsx
  apps/tangle-dapp/containers/BondMoreTxContainer/BondTokens.tsx
  apps/tangle-dapp/containers/DelegateTxContainer/AuthorizeTx.tsx
  apps/tangle-dapp/containers/DelegateTxContainer/BondTokens.tsx
  apps/tangle-dapp/containers/DelegateTxContainer/DelegateTxContainer.tsx
  apps/tangle-dapp/containers/DelegationsPayoutsContainer/DelegationsPayoutsContainer.tsx
  apps/tangle-dapp/containers/HeaderChipsContainer/HeaderChipsContainer.tsx
  apps/tangle-dapp/containers/HeaderChipsContainer/index.ts
  apps/tangle-dapp/containers/NominatorStatsContainer/NominatorStatsContainer.tsx
  apps/tangle-dapp/containers/NominatorStatsContainer/index.ts
  apps/tangle-dapp/containers/RebondTxContainer/RebondTxContainer.tsx
  apps/tangle-dapp/containers/StopNominationTxContainer/StopNominationTxContainer.tsx
  apps/tangle-dapp/containers/UnbondTxContainer/UnbondTokens.tsx
  apps/tangle-dapp/containers/UnbondTxContainer/UnbondTxContainer.tsx
  apps/tangle-dapp/containers/UpdateNominationsTxContainer/UpdateNominationsTxContainer.tsx
  apps/tangle-dapp/containers/UpdatePayeeTxContainer/UpdatePayeeTxContainer.tsx
  apps/tangle-dapp/containers/WithdrawUnbondedTxContainer/WithdrawUnbondedTxContainer.tsx
  apps/tangle-dapp/data/DelegationsPayouts/useDelegations.ts
  apps/tangle-dapp/data/HeaderChips/useEraCountSubscription.ts
  apps/tangle-dapp/data/HeaderChips/useSessionCountSubscription.ts
  apps/tangle-dapp/data/KeyStats/useActiveAndDelegationCountSubscription.ts
  apps/tangle-dapp/data/KeyStats/useIdealStakePercentage.ts
  apps/tangle-dapp/data/KeyStats/useInflationPercentage.ts
  apps/tangle-dapp/data/KeyStats/useValidatorsCountSubscription.ts
  apps/tangle-dapp/data/KeyStats/useWaitingCountSubscription.ts
  apps/tangle-dapp/data/NominatorStats/usePaymentDestinationSubscription.ts
  apps/tangle-dapp/data/NominatorStats/useTokenWalletBalance.ts
  apps/tangle-dapp/data/NominatorStats/useTotalStakedAmountSubscription.ts
  apps/tangle-dapp/data/NominatorStats/useUnbondingAmountSubscription.ts
  apps/tangle-dapp/data/NominatorStats/useUnbondingRemainingErasSubscription.ts
  apps/tangle-dapp/data/ValidatorTables/getActiveValidators.ts
  apps/tangle-dapp/data/ValidatorTables/getWaitingValidators.ts
  apps/tangle-dapp/hooks/useExecuteTxWithNotification.ts
  apps/tangle-dapp/hooks/useIsFirstTimeNominatorSubscription.ts
  apps/tangle-dapp/hooks/useMaxNominationQuota.ts
  apps/tangle-dapp/types/index.ts
  apps/tangle-dapp/utils/evm/bond.ts
  apps/tangle-dapp/utils/evm/client.ts
  apps/tangle-dapp/utils/evm/index.ts
  apps/tangle-dapp/utils/evm/nominators.ts
  apps/tangle-dapp/utils/polkadot/api.ts
  apps/tangle-dapp/utils/polkadot/bond.ts
  apps/tangle-dapp/utils/polkadot/index.ts
  apps/tangle-dapp/utils/polkadot/nominators.ts
  apps/tangle-dapp/utils/polkadot/tokens.ts
  apps/tangle-dapp/utils/polkadot/utils.ts
  libs/webb-ui-components/src/components/InputField/InputField.tsx
Labels: needs review 👓

#1966 feat(tangle-dapp): Payouts Table & Payout Flow
  apps/tangle-dapp/components/Identity.tsx
  apps/tangle-dapp/components/PayoutTable/PayoutTable.tsx
  apps/tangle-dapp/components/PayoutTable/index.ts
  apps/tangle-dapp/components/PayoutTable/types.ts
  apps/tangle-dapp/components/index.ts
  apps/tangle-dapp/constants/evmPrecompiles.ts
  apps/tangle-dapp/containers/DelegateTxContainer/DelegateTxContainer.tsx
  apps/tangle-dapp/containers/DelegationsPayoutsContainer/DelegationsPayoutsContainer.tsx
  apps/tangle-dapp/containers/DelegationsPayoutsContainer/PayoutTableContainer.tsx
  apps/tangle-dapp/containers/NominatorStatsContainer/NominatorStatsContainer.tsx
  apps/tangle-dapp/containers/PayoutAllTxContainer/PayoutAllTxContainer.tsx
  apps/tangle-dapp/containers/PayoutAllTxContainer/index.ts
  apps/tangle-dapp/containers/PayoutAllTxContainer/types.ts
  apps/tangle-dapp/containers/PayoutTxContainer/PayoutTxContainer.tsx
  apps/tangle-dapp/containers/PayoutTxContainer/index.ts
  apps/tangle-dapp/containers/PayoutTxContainer/types.ts
  apps/tangle-dapp/containers/RebondTxContainer/RebondTxContainer.tsx
  apps/tangle-dapp/containers/StopNominationTxContainer/StopNominationTxContainer.tsx
  apps/tangle-dapp/containers/UnbondTxContainer/UnbondTxContainer.tsx
  apps/tangle-dapp/containers/UpdatePayeeTxContainer/UpdatePayeeTxContainer.tsx
  apps/tangle-dapp/containers/WithdrawUnbondedTxContainer/WithdrawUnbondedTxContainer.tsx
  apps/tangle-dapp/data/DelegationsPayouts/usePayouts.ts
  apps/tangle-dapp/types/index.ts
  apps/tangle-dapp/utils/convertToSubstrateAddress.ts
  apps/tangle-dapp/utils/evm/client.ts
  apps/tangle-dapp/utils/evm/index.ts
  apps/tangle-dapp/utils/evm/payout.ts
  apps/tangle-dapp/utils/polkadot/index.ts
  apps/tangle-dapp/utils/polkadot/payout.ts
  apps/zk-explorer/app/page.tsx
  libs/icons/src/WalletFillIcon.tsx
  libs/icons/src/WalletPayIcon.tsx
  libs/icons/src/index.ts
  libs/webb-ui-components/src/components/InputField/InputField.tsx
  libs/webb-ui-components/src/components/InputField/types.ts
  yarn.lock
Labels: needs review 👓

#2017 [RELEASE] 2024 Feb 07 - Tangle Dapp
  .lycheeignore
  apps/tangle-dapp/CHANGELOG.md
  apps/tangle-dapp/data/DelegationsPayouts/usePayouts.ts
  apps/tangle-dapp/package.json
Labels: tangle-dapp

#2016 feat(tangle-app): Implement 'Manage Balances' table for account page
  apps/tangle-dapp/app/account/AccountSummaryCard.tsx
  apps/tangle-dapp/app/account/Actions.tsx
  apps/tangle-dapp/app/account/TotalBalance.tsx
  apps/tangle-dapp/app/claim/EligibleSection.tsx
  apps/tangle-dapp/app/claim/page.tsx
  apps/tangle-dapp/app/claim/success/SuccessClient.tsx
  apps/tangle-dapp/app/claim/success/page.tsx
  apps/tangle-dapp/components/Breadcrumbs/Breadcrumbs.tsx
  apps/tangle-dapp/components/Identity.tsx
  apps/tangle-dapp/components/sideBar/sideBarProps.ts
  apps/tangle-dapp/constants/index.ts
  apps/tangle-dapp/containers/BalancesTableContainer/BalanceAction.tsx
  apps/tangle-dapp/containers/BalancesTableContainer/BalanceCell.tsx
  apps/tangle-dapp/containers/BalancesTableContainer/BalancesTableContainer.tsx
  apps/tangle-dapp/containers/BalancesTableContainer/HeaderCell.tsx
  apps/tangle-dapp/containers/BalancesTableContainer/LockedBalanceDetails.tsx
  apps/tangle-dapp/containers/DelegateTxContainer/DelegateTxContainer.tsx
  apps/tangle-dapp/containers/DelegationsPayoutsContainer/DelegationsPayoutsContainer.tsx
  apps/tangle-dapp/containers/NominatorStatsContainer/NominatorStatsContainer.tsx
  apps/tangle-dapp/containers/RebondTxContainer/RebondTxContainer.tsx
  apps/tangle-dapp/containers/StakingStatsContainer/StakingStatsContainer.tsx
  apps/tangle-dapp/containers/TransferTxContainer/TransferTxContainer.tsx
  apps/tangle-dapp/data/balances/useBalances.ts
  apps/tangle-dapp/data/balances/useBalancesLock.ts
  apps/tangle-dapp/data/claims/useAirdropEligibility.ts
  apps/tangle-dapp/data/democracy/useDemocracy.ts
  apps/tangle-dapp/data/democracy/useDemocracyUnlockTx.ts
  apps/tangle-dapp/data/staking/useCurrentEra.ts
  apps/tangle-dapp/data/staking/useStakingPendingRewards.ts
  apps/tangle-dapp/data/staking/useUnbonding.ts
  apps/tangle-dapp/data/vesting/useVestTx.ts
  apps/tangle-dapp/data/vesting/useVestingInfo.ts
  apps/tangle-dapp/hooks/useAgnosticTx.ts
  apps/tangle-dapp/hooks/useEvmPrecompileAbiCall.ts
  apps/tangle-dapp/hooks/useFormattedBalance.ts
  apps/tangle-dapp/hooks/useLocalStorage.ts
  apps/tangle-dapp/hooks/usePolkadotApi.ts
  apps/tangle-dapp/hooks/usePolkadotApiRx.ts
  apps/tangle-dapp/hooks/useStakingLedger.ts
  apps/tangle-dapp/hooks/useStakingLedgerRx.ts
  apps/tangle-dapp/hooks/useSubstrateTx.ts
  apps/tangle-dapp/types/index.ts
  apps/tangle-dapp/utils/calculateTimeRemaining.ts
  apps/tangle-dapp/utils/convertToChainUnits.ts
  apps/tangle-dapp/utils/convertToSubstrateAddress.ts
  apps/tangle-dapp/utils/getSubstrateLockId.ts
  apps/tangle-dapp/utils/polkadot/api.ts
  apps/tangle-dapp/utils/polkadot/tokens.ts
  libs/icons/src/CoinsStackedLineIcon.tsx
  libs/icons/src/index.ts
Labels: feature ➕, needs review 👓, tangle-dapp

#2029 [FEAT] Lazily load validator table on EVM staking, Tangle dapp
  apps/tangle-dapp/components/ServiceTable/ServiceTable.tsx
  apps/tangle-dapp/components/ValidatorTable/ValidatorTable.tsx
  apps/tangle-dapp/components/ValidatorTable/types.ts
  apps/tangle-dapp/constants/index.ts
  apps/tangle-dapp/constants/swr.ts
  apps/tangle-dapp/containers/ApiDevStatsContainer/ApiDevStatsContainer.tsx
  apps/tangle-dapp/containers/ApiDevStatsContainer/index.ts
  apps/tangle-dapp/containers/Layout/Layout.tsx
  apps/tangle-dapp/containers/NominatorStatsContainer/NominatorStatsContainer.tsx
  apps/tangle-dapp/containers/TransferTxContainer/TransferTxContainer.tsx
  apps/tangle-dapp/containers/ValidatorTablesContainer/ValidatorTableContainer.tsx
  apps/tangle-dapp/containers/ValidatorTablesContainer/ValidatorTablesContainer.tsx
  apps/tangle-dapp/data/KeyStats/useActiveAndDelegationCountSubscription.ts
  apps/tangle-dapp/data/ValidatorTables/getActiveValidators.ts
  apps/tangle-dapp/data/ValidatorTables/getValidatorDetails.ts
  apps/tangle-dapp/data/ValidatorTables/getWaitingValidators.ts
  apps/tangle-dapp/data/ValidatorTables/index.ts
  apps/tangle-dapp/data/ValidatorTables/usePagedValidators.ts
  apps/tangle-dapp/hooks/useAllValidatorsData.ts
  apps/tangle-dapp/hooks/useIsMountedRef.ts
  apps/tangle-dapp/hooks/useLocalStorage.ts
  apps/tangle-dapp/hooks/usePromise.ts
  apps/tangle-dapp/hooks/useSubstrateTx.ts
  apps/tangle-dapp/hooks/useSwrWithLocalStorage.ts
  apps/tangle-dapp/utils/polkadot/nominators.ts
Labels: p1 🟠, needs review 👓, optimization ⚙️, tangle-dapp

#2035 style(tangle-dapp): Implement changes from Tangle account UI audit
  apps/tangle-dapp/app/account/AccountSummaryCard.tsx
  apps/tangle-dapp/app/account/Actions.tsx
  apps/tangle-dapp/app/account/TotalBalance.tsx
  apps/tangle-dapp/app/account/page.tsx
  apps/tangle-dapp/app/account/types.ts
  apps/tangle-dapp/app/nomination/[validatorAddress]/ValidatorOverviewCard.tsx
  apps/tangle-dapp/components/Breadcrumbs/Breadcrumbs.tsx
  apps/tangle-dapp/components/Identity.tsx
  apps/tangle-dapp/components/InfoIconWithTooltip/InfoIconWithTooltip.tsx
  apps/tangle-dapp/components/TangleBigLogo.tsx
  apps/tangle-dapp/components/sideBar/sideBarProps.ts
  apps/tangle-dapp/containers/BalancesTableContainer/BalanceCell.tsx
  apps/tangle-dapp/containers/BalancesTableContainer/BalancesTableContainer.tsx
  apps/tangle-dapp/containers/BalancesTableContainer/LockedBalanceDetails.tsx
  apps/tangle-dapp/containers/DelegationsPayoutsContainer/DelegationsPayoutsContainer.tsx
  apps/tangle-dapp/containers/RecentTxContainer/RecentTxContainer.tsx
  apps/tangle-dapp/hooks/useQueryParamKey.ts
  apps/tangle-dapp/types/index.ts
  libs/webb-ui-components/src/components/CopyWithTooltip/CopyWithTooltip.tsx
  libs/webb-ui-components/src/components/CopyWithTooltip/types.ts
Labels: p2 🟡, needs review 👓, tangle-dapp

#2033 feat(tangle-dapp): Payouts notification in accounts page
  apps/tangle-dapp/app/account/Actions.tsx
  apps/tangle-dapp/data/Payouts/usePayoutsAvailability.ts
Labels: wip 🚧, tangle-dapp

#2042 Restaking Layout UI
  apps/tangle-dapp/app/account/AccountSummaryCard.tsx
  apps/tangle-dapp/app/services/restake/JobsCard/ActiveJobsTable.tsx
  apps/tangle-dapp/app/services/restake/JobsCard/JobsTableClient.tsx
  apps/tangle-dapp/app/services/restake/JobsCard/PastJobsTable.tsx
  apps/tangle-dapp/app/services/restake/JobsCard/index.tsx
  apps/tangle-dapp/app/services/restake/JobsCard/types.ts
  apps/tangle-dapp/app/services/restake/OverviewCard/ActionButton.tsx
  apps/tangle-dapp/app/services/restake/OverviewCard/index.tsx
  apps/tangle-dapp/app/services/restake/RoleDistributionCard/IndependentChart.tsx
  apps/tangle-dapp/app/services/restake/RoleDistributionCard/index.tsx
  apps/tangle-dapp/app/services/restake/RolesEarningsCard/EarningsChart.tsx
  apps/tangle-dapp/app/services/restake/RolesEarningsCard/index.tsx
  apps/tangle-dapp/app/services/restake/page.tsx
  apps/tangle-dapp/components/Breadcrumbs/Breadcrumbs.tsx
  apps/tangle-dapp/components/ChartTooltip.tsx
  apps/tangle-dapp/components/GlassCard/GlassCard.tsx
  apps/tangle-dapp/components/GlassCard/types.ts
  apps/tangle-dapp/components/KeyStatsItem/KeyStatsItem.tsx
  apps/tangle-dapp/components/TangleCard/TangleCard.tsx
  apps/tangle-dapp/components/TangleCard/index.ts
  apps/tangle-dapp/components/TangleCard/types.ts
  apps/tangle-dapp/components/sideBar/sideBarProps.ts
  apps/tangle-dapp/constants/index.ts
  apps/tangle-dapp/data/JobTables/getActiveJobs.ts
  apps/tangle-dapp/data/JobTables/getPastJobs.ts
  apps/tangle-dapp/data/JobTables/index.ts
  apps/tangle-dapp/types/index.ts
  libs/api-provider-environment/src/WebbProvider/index.tsx
  libs/icons/src/TokenSwapLineIcon.tsx
  libs/icons/src/index.ts
  libs/relayer-manager-factory/src/relayer-manager-factory.ts
Labels: needs review 👓

#2045 fix(tangle-dapp): Adding tangle-dapp to release GA workflow
  .github/workflows/release.yml
Labels: needs review 👓

#2048 perf(tangle-dapp): Optimize key stats container and initial load speed
  apps/tangle-dapp/components/KeyStatsItem/dataHooks.ts
  apps/tangle-dapp/components/KeyStatsItem/types.ts
  apps/tangle-dapp/containers/KeyStatsContainer/KeyStatsContainer.tsx
  apps/tangle-dapp/data/KeyStats/useActiveAndDelegationCountSubscription.ts
  apps/tangle-dapp/data/KeyStats/useIdealStakePercentage.ts
  apps/tangle-dapp/data/KeyStats/useValidatorsCountSubscription.ts
  apps/tangle-dapp/data/KeyStats/useWaitingCountSubscription.ts
  apps/tangle-dapp/hooks/useLocalStorage.ts
Labels: tangle-dapp

#2039 feat(leaderboard): Make leaderboard embeddable for marketing site
  apps/testnet-leaderboard/app/(default)/layout.tsx
  apps/testnet-leaderboard/app/(default)/page.tsx
  apps/testnet-leaderboard/app/(default)/providers.tsx
  apps/testnet-leaderboard/app/(embed)/embed/layout.tsx
  apps/testnet-leaderboard/app/(embed)/embed/page.tsx
  apps/testnet-leaderboard/app/api/hello/route.ts
  apps/testnet-leaderboard/components/RankingTableSection/ParseResponseErrorView.tsx
  apps/testnet-leaderboard/components/RankingTableSection/RankingTableView.tsx
  apps/testnet-leaderboard/components/RankingTableSection/index.tsx
  apps/testnet-leaderboard/next.config.js
Labels: feature ➕, ui-components

#2049 style(tangle-dapp): Implement changes for Tangle Claim Airdrop UI audit
  README.md
  apps/tangle-dapp/app/claim/EligibleSection.tsx
  apps/tangle-dapp/app/claim/NotEligibleSection.tsx
  apps/tangle-dapp/app/claim/layout.tsx
  apps/tangle-dapp/app/claim/page.tsx
  apps/tangle-dapp/app/claim/success/SuccessClient.tsx
  apps/tangle-dapp/components/claims/ClaimRecipientInput.tsx
  apps/tangle-dapp/components/claims/ClaimingAccountInput.tsx
  libs/icons/src/create-icon.tsx
  libs/icons/src/utils.ts
  libs/webb-ui-components/README.md
  libs/webb-ui-components/src/components/Dropdown/DropdownButton.tsx
Labels: needs review 👓, tangle-dapp
