Repository tangle-network/dapp, pull requests merged in 2024-03, with the labels that each got.

#2053 feat(tangle-dapp): Implement restaking UI: Independent profile setup
  apps/tangle-dapp/app/restake/OverviewCard/ActionButton.tsx
  apps/tangle-dapp/app/restake/OverviewCard/index.tsx
  apps/tangle-dapp/components/BnChartTooltip.tsx
  apps/tangle-dapp/constants/index.ts
  apps/tangle-dapp/containers/ManageProfileModalContainer/AllocationInput.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/ChooseMethodStep.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/ConfirmAllocationsStep.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/IndependentAllocationStep.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/ManageProfileModalContainer.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/index.ts
  apps/tangle-dapp/containers/ManageProfileModalContainer/types.ts
  apps/tangle-dapp/containers/TransferTxContainer/TransferTxContainer.tsx
  apps/tangle-dapp/data/restaking/useRestakingAllocations.ts
  apps/tangle-dapp/data/restaking/useRestakingRoleLedger.ts
  apps/tangle-dapp/data/restaking/useUpdateRestakingProfileTx.ts
  apps/tangle-dapp/data/vesting/useVestTx.ts
  apps/tangle-dapp/hooks/usePolkadotApi.ts
  apps/tangle-dapp/hooks/useSubstrateTx.ts
  apps/tangle-dapp/public/static/assets/restaking/method-independent-dark.svg
  apps/tangle-dapp/public/static/assets/restaking/method-independent-light.svg
  apps/tangle-dapp/public/static/assets/restaking/method-shared-dark.svg
  apps/tangle-dapp/public/static/assets/restaking/method-shared-light.svg
  apps/tangle-dapp/utils/convertAmountStringToChainUnits.ts
  apps/tangle-dapp/utils/convertChainUnitsToNumber.ts
  apps/tangle-dapp/utils/extractErrorFromStatus.ts
  apps/tangle-dapp/utils/getChartAreaColorByServiceType.ts
  apps/tangle-dapp/utils/prepareTxNotification.ts
  libs/webb-ui-components/src/components/Tooltip/Tooltip.tsx
  libs/webb-ui-components/src/components/buttons/utils.ts
  package.json
Labels: p1 🟠, needs review 👓, tangle-dapp

#2080 Add Shared Role Distribution Chart
  apps/tangle-dapp/app/nomination/[validatorAddress]/RoleDistributionCard.tsx
  apps/tangle-dapp/app/nomination/[validatorAddress]/page.tsx
  apps/tangle-dapp/app/restake/RoleDistributionCard/IndependentChart.tsx
  apps/tangle-dapp/app/services/RoleDistributionCard.tsx
  apps/tangle-dapp/components/charts/IndependentRoleDistributionChart.tsx
  apps/tangle-dapp/components/charts/PieChartTooltipContent.tsx
  apps/tangle-dapp/components/charts/SharedRoleDistributionChart.tsx
  apps/tangle-dapp/components/charts/index.ts
  apps/tangle-dapp/components/charts/types.ts
  apps/tangle-dapp/data/roleDistributionChart/getRoleDistributionChartData.ts
  apps/tangle-dapp/data/roleDistributionChart/getRoleDistributionChartDataByAcc.ts
  apps/tangle-dapp/types/index.ts
  libs/abstract-api-provider/src/relayer/types.ts
Labels: needs review 👓

#2083 Update transfer modal
  apps/faucet/src/pages/api/auth/refresh/twitter.ts
  apps/tangle-dapp/app/account/Actions.tsx
  apps/tangle-dapp/components/TangleCard/TangleCard.tsx
  apps/tangle-dapp/containers/TransferTxContainer/TransferTxContainer.tsx
  libs/webb-ui-components/src/components/AddressChip/AddressChip.tsx
  libs/webb-ui-components/src/components/AddressChip/types.ts
  libs/webb-ui-components/src/components/BridgeInputs/RecipientInput.tsx
  libs/webb-ui-components/src/components/BridgeInputs/types.ts
  libs/webb-ui-components/src/components/ChainsRing/ChainsRing.tsx
  libs/webb-ui-components/src/components/ChainsRing/types.ts
  libs/webb-ui-components/src/components/CodeFile/CodeFile.tsx
  libs/webb-ui-components/src/components/Tooltip/Tooltip.tsx
  libs/webb-ui-components/src/components/TxConfirmationRing/TxConfirmationRing.tsx
  libs/webb-ui-components/src/components/TxConfirmationRing/types.ts
  libs/webb-ui-components/src/containers/ConfirmationCard/DepositConfirm.tsx
  libs/webb-ui-components/src/containers/ConfirmationCard/TransferConfirm.tsx
  libs/webb-ui-components/src/containers/ConfirmationCard/WithdrawConfirm.tsx
Labels: needs review 👓

#2088 [RELEASE] 2024 March 12 - Tangle Dapp
  .lycheeignore
  apps/tangle-dapp/CHANGELOG.md
  apps/tangle-dapp/package.json
Labels: tangle-dapp

#2091 feat(tangle-dapp): Independent profile update checks
  apps/tangle-dapp/app/nomination/[validatorAddress]/RoleDistributionCard.tsx
  apps/tangle-dapp/app/restake/RoleDistributionCard/IndependentChart.tsx
  apps/tangle-dapp/components/BnChartTooltip.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/AllocationChart.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/AllocationInput.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/AmountInput.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/ChooseMethodStep.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/ConfirmAllocationsStep.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/IndependentAllocationStep.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/InputAction.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/ManageProfileModalContainer.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/RolesInput.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/SharedAllocationStep.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/types.ts
  apps/tangle-dapp/containers/ManageProfileModalContainer/useAllocationChartEntries.ts
  apps/tangle-dapp/containers/ManageProfileModalContainer/useAllocationsState.ts
  apps/tangle-dapp/containers/ManageProfileModalContainer/useInputAmount.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/useSharedRestakeAmountState.ts
  apps/tangle-dapp/data/restaking/useRestakingAllocations.ts
  apps/tangle-dapp/data/restaking/useRestakingJobs.ts
  apps/tangle-dapp/data/restaking/useRestakingProfile.ts
  apps/tangle-dapp/data/restaking/useSharedRestakeAmount.ts
  apps/tangle-dapp/data/restaking/useSharedRestakeAmountState.ts
  apps/tangle-dapp/data/restaking/useUpdateRestakingProfileTx.ts
  apps/tangle-dapp/data/roleDistributionChart/getRoleDistributionChartDataByAcc.ts
  apps/tangle-dapp/data/staking/useCurrentEra.ts
  apps/tangle-dapp/data/staking/useUnbonding.ts
  apps/tangle-dapp/hooks/useAgnosticTx.ts
  apps/tangle-dapp/hooks/useIsMountedRef.ts
  apps/tangle-dapp/types/index.ts
  apps/tangle-dapp/utils/Optional.ts
  apps/tangle-dapp/utils/substrateRoleToServiceType.ts
  libs/icons/src/LockLineIcon.tsx
  libs/icons/src/index.ts
  libs/webb-ui-components/src/components/IconWithTooltip/IconWithTooltip.tsx
Labels: needs review 👓, tangle-dapp

#2098 style(tangle-dapp): Update `RecentTxContainer` component
  apps/tangle-dapp/containers/RecentTxContainer/RecentTxContainer.tsx
Labels: tangle-dapp

#2097 feat(tangle-dapp): Shared profile update checks
  apps/tangle-dapp/app/restake/OverviewCard/ActionButton.tsx
  apps/tangle-dapp/components/BnChartTooltip.tsx
  apps/tangle-dapp/components/charts/RoleEarningsChart.tsx
  apps/tangle-dapp/components/charts/types.ts
  apps/tangle-dapp/constants/index.ts
  apps/tangle-dapp/containers/ManageProfileModalContainer/AllocationChart.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/AllocationStep.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/AllocationStepContainer.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/BaseInput.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/ConfirmAllocationsStep.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/Independent/IndependentAllocationInput.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/Independent/IndependentAllocationStep.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/ManageProfileModalContainer.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/RolesInput.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/Shared/SharedAllocationStep.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/Shared/SharedAmountInput.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/Shared/SharedRolesInput.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/Shared/useSharedRestakeAmountState.ts
  apps/tangle-dapp/containers/ManageProfileModalContainer/types.ts
  apps/tangle-dapp/containers/ManageProfileModalContainer/useAllocationChartEntries.ts
  apps/tangle-dapp/context/ErrorsContext.tsx
  apps/tangle-dapp/data/JobTables/getActiveJobs.ts
  apps/tangle-dapp/data/JobTables/getPastJobs.ts
  apps/tangle-dapp/data/ServiceDetails/getServiceDetailsInfo.ts
  apps/tangle-dapp/data/ServiceTables/getActiveServices.ts
  apps/tangle-dapp/data/ServiceTables/getActiveServicesByValidator.ts
  apps/tangle-dapp/data/ServiceTables/getPastServicesByValidator.ts
  apps/tangle-dapp/data/restaking/useRestakingAllocations.ts
  apps/tangle-dapp/data/restaking/useUpdateRestakingProfileTx.ts
  apps/tangle-dapp/data/roleDistributionChart/getRoleDistributionChartData.ts
  apps/tangle-dapp/data/roleDistributionChart/getRoleDistributionChartDataByAcc.ts
  apps/tangle-dapp/data/roleEarningsChart/getProtocolEarningsChartData.ts
  apps/tangle-dapp/data/roleEarningsChart/getRoleEarningsChartDataByAcc.ts
  apps/tangle-dapp/types/index.ts
  apps/tangle-dapp/utils/getChartDataAreaColorByServiceType.ts
  apps/tangle-dapp/utils/getChipColorOfServiceType.ts
  apps/tangle-dapp/utils/substrateRoleToServiceType.ts
Labels: tangle-dapp

#2106 refactor(tangle-dapp): Change homepage to account page
  apps/tangle-dapp/app/account/page.tsx
  apps/tangle-dapp/app/account/types.ts
  apps/tangle-dapp/app/nomination/page.tsx
  apps/tangle-dapp/app/page.tsx
  apps/tangle-dapp/components/NetworkSelector/isNetworkTypeDisabled.ts
  apps/tangle-dapp/components/account/AccountSummaryCard.tsx
  apps/tangle-dapp/components/account/Actions.tsx
  apps/tangle-dapp/components/account/PillCard.tsx
  apps/tangle-dapp/components/account/TotalBalance.tsx
  apps/tangle-dapp/containers/StakingStatsContainer/StakingStatsContainer.tsx
  apps/tangle-dapp/types/index.ts
Labels: tangle-dapp

#2108 docs(tangle-dapp): Update footer links
  apps/tangle-dapp/containers/Layout/Layout.tsx
  libs/webb-ui-components/src/components/Footer/Footer.tsx
  libs/webb-ui-components/src/components/Footer/types.ts
  libs/webb-ui-components/src/components/Socials/Socials.tsx
  libs/webb-ui-components/src/components/Socials/types.ts
  libs/webb-ui-components/src/constants/index.ts
  libs/webb-ui-components/src/types/index.ts
Labels: documentation 📓, tangle-dapp

#2107 perf(tangle-dapp): Optimize nomination page
  apps/tangle-dapp/components/ValidatorList/ValidatorList.tsx
  apps/tangle-dapp/components/ValidatorTable/ValidatorTable.tsx
  apps/tangle-dapp/components/ValidatorTable/types.ts
  apps/tangle-dapp/containers/DelegateTxContainer/DelegateTxContainer.tsx
  apps/tangle-dapp/containers/UpdateNominationsTxContainer/UpdateNominationsTxContainer.tsx
  apps/tangle-dapp/containers/ValidatorTablesContainer/ValidatorTablesContainer.tsx
  apps/tangle-dapp/data/ValidatorTables/getActiveValidators.ts
  apps/tangle-dapp/data/ValidatorTables/getValidatorDetails.ts
  apps/tangle-dapp/data/ValidatorTables/getWaitingValidators.ts
  apps/tangle-dapp/data/ValidatorTables/index.ts
  apps/tangle-dapp/data/ValidatorTables/useActiveValidators.ts
  apps/tangle-dapp/data/ValidatorTables/useAllValidators.ts
  apps/tangle-dapp/data/ValidatorTables/usePagedValidators.ts
  apps/tangle-dapp/data/ValidatorTables/useValidatorIdentities.ts
  apps/tangle-dapp/data/ValidatorTables/useValidatorIdentityNames.ts
  apps/tangle-dapp/data/ValidatorTables/useValidators.ts
  apps/tangle-dapp/data/ValidatorTables/useWaitingValidators.ts
  apps/tangle-dapp/data/staking/useValidatorsPrefs.ts
  apps/tangle-dapp/hooks/useAllValidatorsData.ts
  apps/tangle-dapp/types/index.ts
  apps/tangle-dapp/utils/polkadot/api.ts
  apps/tangle-dapp/utils/polkadot/nominators.ts
Labels: optimization ⚙️, tangle-dapp

#2121 Update wallet modal content
  apps/bridge-dapp/src/containers/WalletModalContainer/WalletModalContainer.tsx
  apps/tangle-dapp/containers/WalletModalContainer/WalletModalContainer.tsx
  apps/tangle-dapp/utils/polkadot/utils.ts
  libs/api-provider-environment/src/WebbProvider/index.tsx
  libs/dapp-config/src/wallets/wallets-config.tsx
  libs/dapp-types/src/WebbError.ts
  libs/dapp-types/src/errors/WalletNotInstalledError.ts
  libs/webb-ui-components/src/components/WalletConnectionCard/WalletConnectionCard.tsx
  libs/webb-ui-components/src/components/WalletConnectionCard/types.ts
  libs/webb-ui-components/src/components/WalletModal/WalletModal.tsx
  libs/webb-ui-components/src/components/WalletModal/types.ts
Labels: needs review 👓

#2129 Sidebar Substrate Portal & EVM Explorer should match with current endpoint
  apps/faucet/src/constants/sidebar.ts
  apps/tangle-dapp/app/claim/EligibleSection.tsx
  apps/tangle-dapp/app/claim/page.tsx
  apps/tangle-dapp/components/NetworkSelector/NetworkSelectionButton.tsx
  apps/tangle-dapp/components/TxConfirmationModal/TxConfirmationModal.tsx
  apps/tangle-dapp/components/sideBar/SideBar.tsx
  apps/tangle-dapp/components/sideBar/SideBarMenu.tsx
  apps/tangle-dapp/components/sideBar/sideBarProps.ts
  apps/tangle-dapp/containers/ApiDevStatsContainer/ApiDevStatsContainer.tsx
  apps/tangle-dapp/containers/BondMoreTxContainer/BondMoreTxContainer.tsx
  apps/tangle-dapp/containers/DelegateTxContainer/DelegateTxContainer.tsx
  apps/tangle-dapp/containers/PayoutAllTxContainer/PayoutAllTxContainer.tsx
  apps/tangle-dapp/containers/PayoutTxContainer/PayoutTxContainer.tsx
  apps/tangle-dapp/containers/RebondTxContainer/RebondTxContainer.tsx
  apps/tangle-dapp/containers/RecentTxContainer/RecentTxContainer.tsx
  apps/tangle-dapp/containers/StopNominationTxContainer/StopNominationTxContainer.tsx
  apps/tangle-dapp/containers/UnbondTxContainer/UnbondTxContainer.tsx
  apps/tangle-dapp/containers/UpdateNominationsTxContainer/UpdateNominationsTxContainer.tsx
  apps/tangle-dapp/containers/UpdatePayeeTxContainer/UpdatePayeeTxContainer.tsx
  apps/tangle-dapp/containers/WithdrawUnbondedTxContainer/WithdrawUnbondedTxContainer.tsx
  apps/tangle-dapp/context/useNetworkStore.ts
  apps/tangle-dapp/context/useRpcEndpointStore.ts
  apps/tangle-dapp/data/DelegationsPayouts/useDelegations.ts
  apps/tangle-dapp/data/DelegationsPayouts/usePayouts.ts
  apps/tangle-dapp/data/KeyStats/useActiveAndDelegationCountSubscription.ts
  apps/tangle-dapp/data/KeyStats/useIdealStakePercentage.ts
  apps/tangle-dapp/data/KeyStats/useInflationPercentage.ts
  apps/tangle-dapp/data/KeyStats/useValidatorsCountSubscription.ts
  apps/tangle-dapp/data/KeyStats/useWaitingCountSubscription.ts
  apps/tangle-dapp/data/NominatorStats/usePaymentDestinationSubscription.ts
  apps/tangle-dapp/data/NominatorStats/useTokenWalletBalance.ts
  apps/tangle-dapp/data/NominatorStats/useTotalStakedAmountSubscription.ts
  apps/tangle-dapp/data/NominatorStats/useUnbondingAmountSubscription.ts
  apps/tangle-dapp/data/NominatorStats/useUnbondingRemainingErasSubscription.ts
  apps/tangle-dapp/data/useEraCountSubscription.ts
  apps/tangle-dapp/data/useSessionCountSubscription.ts
  apps/tangle-dapp/hooks/useIsFirstTimeNominatorSubscription.ts
  apps/tangle-dapp/hooks/useMaxNominationQuota.ts
  apps/tangle-dapp/hooks/useNetworkState.ts
  apps/tangle-dapp/hooks/usePolkadotApi.ts
  apps/tangle-dapp/hooks/usePolkadotApiRx.ts
  apps/tangle-dapp/hooks/useSubstrateTx.ts
  apps/tangle-dapp/utils/createCustomNetwork.ts
  libs/webb-ui-components/src/constants/index.ts
Labels: needs review 👓

#2141 Dynamic Token Symbol
  apps/tangle-dapp/app/nomination/[validatorAddress]/TotalRestaked.tsx
  apps/tangle-dapp/app/nomination/[validatorAddress]/ValidatorOverviewCard.tsx
  apps/tangle-dapp/app/restake/JobsCard/JobsTableClient.tsx
  apps/tangle-dapp/app/restake/OverviewCard/index.tsx
  apps/tangle-dapp/app/restake/RolesEarningsCard/EarningsChart.tsx
  apps/tangle-dapp/app/services/ProtocolEarningsCard.tsx
  apps/tangle-dapp/components/BnChartTooltip.tsx
  apps/tangle-dapp/components/BondedTokensBalanceInfo/BondedTokensBalanceInfo.tsx
  apps/tangle-dapp/components/NominatorStatsItem/NominatorStatsItemText.tsx
  apps/tangle-dapp/components/ServiceTable/ServiceTable.tsx
  apps/tangle-dapp/components/UnbondingStatsItem/UnbondingStatsItem.tsx
  apps/tangle-dapp/components/account/Actions.tsx
  apps/tangle-dapp/components/account/TotalBalance.tsx
  apps/tangle-dapp/components/charts/IndependentRoleDistributionChart.tsx
  apps/tangle-dapp/components/charts/RoleEarningsChart.tsx
  apps/tangle-dapp/components/charts/SharedRoleDistributionChart.tsx
  apps/tangle-dapp/components/charts/types.ts
  apps/tangle-dapp/constants/index.ts
  apps/tangle-dapp/containers/BalancesTableContainer/BalanceCell.tsx
  apps/tangle-dapp/containers/BalancesTableContainer/BalancesTableContainer.tsx
  apps/tangle-dapp/containers/BondMoreTxContainer/BondMoreTxContainer.tsx
  apps/tangle-dapp/containers/BondMoreTxContainer/BondTokens.tsx
  apps/tangle-dapp/containers/DelegateTxContainer/BondTokens.tsx
  apps/tangle-dapp/containers/DelegateTxContainer/DelegateTxContainer.tsx
  apps/tangle-dapp/containers/DelegateTxContainer/types.ts
  apps/tangle-dapp/containers/ManageProfileModalContainer/AllocationChart.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/ConfirmAllocationsStep.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/Independent/IndependentAllocationInput.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/Independent/IndependentAllocationStep.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/Shared/SharedAllocationStep.tsx
  apps/tangle-dapp/containers/ManageProfileModalContainer/Shared/SharedAmountInput.tsx
  apps/tangle-dapp/containers/NominatorStatsContainer/NominatorStatsContainer.tsx
  apps/tangle-dapp/containers/RebondTxContainer/RebondTxContainer.tsx
  apps/tangle-dapp/containers/StakingStatsContainer/StakingStatsContainer.tsx
  apps/tangle-dapp/containers/TransferTxContainer/TransferTxContainer.tsx
  apps/tangle-dapp/containers/UnbondTxContainer/UnbondTokens.tsx
  apps/tangle-dapp/containers/UnbondTxContainer/UnbondTxContainer.tsx
  apps/tangle-dapp/context/useNetworkStore.ts
  apps/tangle-dapp/data/DelegationsPayouts/useDelegations.ts
  apps/tangle-dapp/data/DelegationsPayouts/usePayouts.ts
  apps/tangle-dapp/data/NominatorStats/useTotalStakedAmountSubscription.ts
  apps/tangle-dapp/data/NominatorStats/useUnbondingAmountSubscription.ts
  apps/tangle-dapp/data/NominatorStats/useUnbondingRemainingErasSubscription.ts
  apps/tangle-dapp/data/ServiceTables/getActiveServices.ts
  apps/tangle-dapp/data/ServiceTables/getActiveServicesByValidator.ts
  apps/tangle-dapp/data/ServiceTables/getPastServicesByValidator.ts
  apps/tangle-dapp/data/ValidatorTables/useValidators.ts
  apps/tangle-dapp/data/roleDistributionChart/getRoleDistributionChartData.ts
  apps/tangle-dapp/data/roleEarningsChart/getProtocolEarningsChartData.ts
  apps/tangle-dapp/data/roleEarningsChart/getRoleEarningsChartDataByAcc.ts
  apps/tangle-dapp/hooks/useLocalStorage.ts
  apps/tangle-dapp/hooks/useNetworkState.ts
  apps/tangle-dapp/types/index.ts
  apps/tangle-dapp/utils/getChartDataAreaColorByServiceType.ts
  apps/tangle-dapp/utils/getChipColorOfServiceType.ts
  apps/tangle-dapp/utils/polkadot/tokens.ts
  libs/webb-ui-components/src/constants/index.ts
  package.json
  yarn.lock
Labels: needs review 👓

#2154 fix(tangle-dapp): getValidatorIdentity function
  apps/tangle-dapp/utils/polkadot/nominators.ts
Labels: tangle-dapp

#2150 perf(tangle-dapp): Fix performance issue in Nomination page
  apps/tangle-dapp/components/ValidatorList/ValidatorList.tsx
  apps/tangle-dapp/components/ValidatorList/types.ts
  apps/tangle-dapp/components/account/AccountSummaryCard.tsx
  apps/tangle-dapp/components/account/Actions.tsx
  apps/tangle-dapp/components/account/Balance.tsx
  apps/tangle-dapp/components/account/TotalBalance.tsx
  apps/tangle-dapp/containers/BalancesTableContainer/BalancesTableContainer.tsx
  apps/tangle-dapp/containers/BalancesTableContainer/LockedBalanceDetails/DemocracyUnlockingAt.tsx
  apps/tangle-dapp/containers/BalancesTableContainer/LockedBalanceDetails/LockedBalanceDetails.tsx
  apps/tangle-dapp/containers/BalancesTableContainer/LockedBalanceDetails/VestingScheduleBalances.tsx
  apps/tangle-dapp/containers/BalancesTableContainer/LockedBalanceDetails/VestingSchedulesUnlockingAt.tsx
  apps/tangle-dapp/containers/DelegateTxContainer/DelegateTxContainer.tsx
  apps/tangle-dapp/containers/DelegateTxContainer/SelectDelegates.tsx
  apps/tangle-dapp/containers/DelegationsPayoutsContainer/DelegationsPayoutsContainer.tsx
  apps/tangle-dapp/containers/NominatorStatsContainer/NominatorStatsContainer.tsx
  apps/tangle-dapp/containers/UpdateNominationsTxContainer/SelectValidators.tsx
  apps/tangle-dapp/containers/UpdateNominationsTxContainer/UpdateNominationsTxContainer.tsx
  apps/tangle-dapp/data/DelegationsPayouts/useDelegations.ts
  apps/tangle-dapp/data/DelegationsPayouts/usePayouts.ts
  apps/tangle-dapp/data/ValidatorTables/useAllValidators.ts
  apps/tangle-dapp/data/ValidatorTables/useValidators.ts
  apps/tangle-dapp/data/balances/useBalances.ts
  apps/tangle-dapp/data/staking/useValidatorsPrefs.ts
  apps/tangle-dapp/hooks/useErrorReporting.ts
  apps/tangle-dapp/hooks/useIsFirstTimeNominator.ts
  apps/tangle-dapp/hooks/useIsFirstTimeNominatorSubscription.ts
  apps/tangle-dapp/utils/convertChainUnitsToNumber.ts
  apps/tangle-dapp/utils/index.ts
  libs/webb-ui-components/src/components/ChainsRing/ChainsRing.tsx
  libs/webb-ui-components/src/components/TxConfirmationRing/TxConfirmationRing.tsx
Labels: optimization ⚙️, tangle-dapp

#2151 Fix Page Switching Performance
  apps/tangle-dapp/app/claim/loading.tsx
  apps/tangle-dapp/app/nomination/loading.tsx
  apps/tangle-dapp/app/nomination/page.tsx
  apps/tangle-dapp/app/page.tsx
  apps/tangle-dapp/components/Breadcrumbs/Breadcrumbs.tsx
  apps/tangle-dapp/components/KeyStatsItem/KeyStatsText.tsx
  apps/tangle-dapp/containers/KeyStatsContainer/KeyStatsContainer.tsx
Labels: needs review 👓
