Repository tangle-network/dapp, pull requests merged in 2024-10, with the labels that each got.

#2579 feat(tangle-dapp): Hyperlane Testnet Transfer
  apps/tangle-dapp/app/bridge/BridgeConfirmationModal.tsx
  apps/tangle-dapp/app/bridge/BridgeContainer.tsx
  apps/tangle-dapp/app/bridge/hooks/useActionButton.ts
  apps/tangle-dapp/app/bridge/hooks/useBridgeTransfer.ts
  apps/tangle-dapp/app/bridge/hooks/useEthersProvider.ts
  apps/tangle-dapp/app/bridge/hooks/useFees.ts
  apps/tangle-dapp/app/bridge/hooks/useHyperlaneFees.ts
  apps/tangle-dapp/components/AddressInput/AddressInput.tsx
  apps/tangle-dapp/components/BridgeTxQueueDropdown/BridgeTxQueueItem.tsx
  apps/tangle-dapp/constants/bridge.ts
  apps/tangle-dapp/context/BridgeTxQueueContext.tsx
  apps/tangle-dapp/lib/hyperlane/consts.ts
  apps/tangle-dapp/lib/hyperlane/transfer.ts
  apps/tangle-dapp/types/bridge.ts
  libs/webb-ui-components/README.md
  libs/webb-ui-components/src/components/TxProgressor/TxProgressor.tsx
  libs/webb-ui-components/src/components/TxProgressor/types.ts
Labels: tangle-dapp

#2592 fix(tangle-dapp): Fix bridge disabled button
  apps/tangle-dapp/lib/hyperlane/assembleChainMetadata.ts
Labels: needs review 👓, tangle-dapp

#2596 chore(tangle-dapp): Selector Modals, Bridge UI cleanup & Remove Sygma Bridge
  apps/tangle-dapp/app/bridge/AmountAndTokenInput.tsx
  apps/tangle-dapp/app/bridge/BridgeConfirmationModal.tsx
  apps/tangle-dapp/app/bridge/BridgeContainer.tsx
  apps/tangle-dapp/app/bridge/ChainSelectors.tsx
  apps/tangle-dapp/app/bridge/FeeDetails.tsx
  apps/tangle-dapp/app/bridge/hooks/useActionButton.ts
  apps/tangle-dapp/app/bridge/hooks/useAmountInDecimals.ts
  apps/tangle-dapp/app/bridge/hooks/useBalance.ts
  apps/tangle-dapp/app/bridge/hooks/useBridgeFee.ts
  apps/tangle-dapp/app/bridge/hooks/useBridgeTransfer.ts
  apps/tangle-dapp/app/bridge/hooks/useEstimatedGasFee.ts
  apps/tangle-dapp/app/bridge/hooks/useFees.ts
  apps/tangle-dapp/app/bridge/lib/transfer/sygmaEvm.ts
  apps/tangle-dapp/app/bridge/lib/transfer/sygmaSubstrate.ts
  apps/tangle-dapp/app/restake/ChainList.tsx
  apps/tangle-dapp/app/restake/OperatorList.tsx
  apps/tangle-dapp/app/restake/SupportedChainModal.tsx
  apps/tangle-dapp/app/restake/deposit/DepositForm.tsx
  apps/tangle-dapp/app/restake/deposit/DestChainInput.tsx
  apps/tangle-dapp/app/restake/operators/[address]/OperatorInfoCard.tsx
  apps/tangle-dapp/app/restake/stake/StakeInput.tsx
  apps/tangle-dapp/app/restake/stake/page.tsx
  apps/tangle-dapp/app/restake/unstake/UnstakeModal.tsx
  apps/tangle-dapp/app/restake/unstake/UnstakeRequestTable.tsx
  apps/tangle-dapp/app/restake/unstake/page.tsx
  apps/tangle-dapp/app/restake/withdraw/page.tsx
  apps/tangle-dapp/components/AddressInput.tsx
  apps/tangle-dapp/components/AmountInput.tsx
  apps/tangle-dapp/components/AvatarWithText.tsx
  apps/tangle-dapp/components/BridgeTxQueueDropdown/BridgeTxQueueItem.tsx
  apps/tangle-dapp/components/InputWrapper.tsx
  apps/tangle-dapp/components/LiquidStaking/stakeAndUnstake/DropdownChevronIcon.tsx
  apps/tangle-dapp/components/LiquidStaking/stakeAndUnstake/LsNetworkSwitcher.tsx
  apps/tangle-dapp/components/Lists/AssetList.tsx
  apps/tangle-dapp/components/Lists/ChainList.tsx
  apps/tangle-dapp/components/Lists/ListCardWrapper.tsx
  apps/tangle-dapp/components/Lists/OperatorList.tsx
  apps/tangle-dapp/constants/bridge.ts
  apps/tangle-dapp/context/BridgeContext.tsx
  apps/tangle-dapp/context/BridgeTxQueueContext.tsx
  apps/tangle-dapp/types/bridge.ts
  apps/tangle-dapp/utils/viemConnectorClientToEthersSigner.ts
  apps/tangle-dapp/utils/viemNetworkClientToEthersProvider.ts
  libs/webb-ui-components/src/components/FeeDetails/FeeDetails.tsx
Labels: tangle-dapp

#2607 feat: handle properly empty title on Pagination
  libs/webb-ui-components/src/components/Pagination/Pagination.tsx
Labels: needs review 👓
