Repository tangle-network/dapp, pull requests merged in 2025-04, with the labels that each got.

#2937 refactor(tangle-cloud): update operator blueprint registration page
  apps/tangle-cloud/src/app/app.tsx
  apps/tangle-cloud/src/constants/index.ts
  apps/tangle-cloud/src/data/services/useServiceRegisterTx.ts
  apps/tangle-cloud/src/hooks/useServicesTransactions.ts
  apps/tangle-cloud/src/hooks/useTxNotification.tsx
  apps/tangle-cloud/src/lib/services/base.ts
  apps/tangle-cloud/src/lib/services/evm.ts
  apps/tangle-cloud/src/lib/services/substrate.ts
  apps/tangle-cloud/src/pages/blueprints/PricingModal/GlobalPricingFields.tsx
  apps/tangle-cloud/src/pages/blueprints/PricingModal/IndividualPricingField.tsx
  apps/tangle-cloud/src/pages/blueprints/PricingModal/PriceField.tsx
  apps/tangle-cloud/src/pages/blueprints/PricingModal/PricingModal.tsx
  apps/tangle-cloud/src/pages/blueprints/PricingModal/types.ts
  apps/tangle-cloud/src/pages/blueprints/RegistrationReview/ParamsForm.tsx
  apps/tangle-cloud/src/pages/blueprints/RegistrationReview/index.ts
  apps/tangle-cloud/src/pages/blueprints/[id]/page.tsx
  apps/tangle-cloud/src/pages/blueprints/page.tsx
  apps/tangle-cloud/src/pages/registrationReview/RegistrationForm/FieldTypeInput.tsx
  apps/tangle-cloud/src/pages/registrationReview/RegistrationForm/ParamsForm.tsx
  apps/tangle-cloud/src/pages/registrationReview/layout.tsx
  apps/tangle-cloud/src/pages/registrationReview/page.tsx
  apps/tangle-cloud/src/types/index.ts
  apps/tangle-cloud/src/utils/index.ts
  libs/tangle-shared-ui/src/components/blueprints/BlueprintGallery/BlueprintItem.tsx
  libs/tangle-shared-ui/src/components/blueprints/BlueprintHeader.tsx
  libs/ui-components/src/components/Modal/ModalBody.tsx
  libs/ui-components/src/components/Modal/ModalContent.tsx
Labels: needs review 🔎, app: tangle-cloud ☁️

#2918 feat(tangle-cloud): Implement blueprint instance deployment page
  apps/tangle-cloud/src/app/app.tsx
  apps/tangle-cloud/src/components/InfoSidebar.tsx
  apps/tangle-cloud/src/components/InstanceHeader.tsx
  apps/tangle-cloud/src/components/Sidebar.tsx
  apps/tangle-cloud/src/data/services/useServiceRegisterTx.ts
  apps/tangle-cloud/src/pages/blueprints/BlueprintListing.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/DeployStep1.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/type.ts
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/page.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/page.tsx
  apps/tangle-cloud/src/pages/blueprints/layout.tsx
  apps/tangle-cloud/src/pages/blueprints/page.tsx
  apps/tangle-cloud/src/pages/instances/BlueprintManagementSection.tsx
  apps/tangle-cloud/src/pages/instances/Instances/PendingInstanceTable.tsx
  apps/tangle-cloud/src/pages/instances/page.tsx
  apps/tangle-cloud/src/pages/registrationReview/RegistrationForm/FieldTypeInput.tsx
  apps/tangle-cloud/src/pages/registrationReview/RegistrationForm/ParamsForm.tsx
  apps/tangle-cloud/src/pages/registrationReview/page.tsx
  apps/tangle-cloud/src/stores/roleStore.tsx
  apps/tangle-cloud/src/types/index.ts
  apps/tangle-cloud/src/utils/validations/deployBlueprint.ts
  apps/tangle-cloud/vite.config.ts
  libs/tangle-shared-ui/src/types/blueprint.ts
  libs/ui-components/src/components/Dropdown/DropdownButton.tsx
Labels: needs review 🔎, app: tangle-cloud ☁️

#2949 feat(tangle-dapp): Add XP & Points Banner to Sidebar
  apps/tangle-dapp/public/static/assets/xp-banner-bg-dark.png
  apps/tangle-dapp/public/static/assets/xp-banner-bg.png
  apps/tangle-dapp/src/components/Sidebar/sidebarProps.tsx
  apps/tangle-dapp/src/components/account/AccountPoints.tsx
  apps/tangle-dapp/src/components/account/AccountSummaryCard.tsx
  apps/tangle-dapp/src/features/points/components/PointsBanner.tsx
  apps/tangle-dapp/src/features/points/data/useActiveAccountPoints.ts
  libs/ui-components/src/components/SideBar/MobileSidebar.tsx
  libs/ui-components/src/components/SideBar/SideBar.tsx
  libs/ui-components/src/components/SideBar/types.ts
  libs/ui-components/src/css/layer-components.css
Labels: needs review 🔎

#2947 feat(leaderboard): Show Validator Identity, Use Timestamp
  apps/leaderboard/src/constants/query.ts
  apps/leaderboard/src/features/indexingProgress/components/SyncProgressIndicator.tsx
  apps/leaderboard/src/features/indexingProgress/queries/indexingProgressQuery.ts
  apps/leaderboard/src/features/leaderboard/components/BadgesCell.tsx
  apps/leaderboard/src/features/leaderboard/components/ExpandedInfo.tsx
  apps/leaderboard/src/features/leaderboard/components/LeaderboardTable.tsx
  apps/leaderboard/src/features/leaderboard/components/MiniSparkline.tsx
  apps/leaderboard/src/features/leaderboard/queries/accountIdentitiesQuery.ts
  apps/leaderboard/src/features/leaderboard/queries/leaderboardQuery.ts
  apps/leaderboard/src/features/leaderboard/types/index.ts
  apps/leaderboard/src/features/leaderboard/utils/createAccountExplorerUrl.ts
  apps/leaderboard/src/features/leaderboard/utils/formatDisplayBlockNumber.ts
  apps/leaderboard/src/features/leaderboard/utils/processLeaderboardRecord.ts
  apps/leaderboard/src/queries/latestFinalizedBlockQuery.ts
  apps/leaderboard/src/types/index.ts
  apps/leaderboard/src/utils/getRpcEndpoint.ts
  apps/tangle-dapp/src/features/points/data/useActiveAccountPoints.ts
  codegen.ts
  libs/dapp-types/src/utils/types.ts
  libs/ui-components/src/utils/isEvmAddress20.ts
  libs/ui-components/src/utils/isSubstrateAddress.ts
Labels: needs review 🔎

#2950 [RELEASE] leaderboard v0.0.1
  apps/leaderboard/CHANGELOG.md
  apps/leaderboard/package.json
Labels: needs review 🔎

#2942 feat(tangle-cloud): deploy blueprint > select operator step
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/BasicInformationStep.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/DeployStep1.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/InstructionSideCard.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/OperatorSelectionStep.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/type.ts
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/page.tsx
  apps/tangle-cloud/src/utils/validations/deployBlueprint.ts
  libs/tangle-shared-ui/src/data/blueprints/useOperatorsServices.ts
  libs/ui-components/src/components/CheckBox/Checkbox.tsx
  libs/ui-components/src/components/select/SelectCheckboxItem.tsx
  libs/ui-components/src/components/select/index.tsx
Labels: needs review 🔎, app: tangle-cloud ☁️

#2951 chore(tangle-dapp): Update Account Card Components
  apps/tangle-dapp/src/components/account/AccountSummaryCard.tsx
  apps/tangle-dapp/src/components/account/Actions.tsx
  apps/tangle-dapp/src/components/account/Balance.tsx
  libs/ui-components/src/components/Dropdown/AccountDropdownBody.tsx
Labels: needs review 🔎

#2954 chore(tangle-dapp): Group chains by chain type in ChainList component
  apps/tangle-dapp/src/components/Lists/ChainList.tsx
  apps/tangle-dapp/src/features/bridge/containers/BridgeContainer.tsx
  libs/tangle-shared-ui/src/components/NetworkSelectorDropdown/index.tsx
  libs/tangle-shared-ui/src/hooks/useLocalStorage.ts
Labels: app: tangle-dapp

#2885 feat(tangle-dapp): Add Phantom wallet to dApp wallet provider
  apps/tangle-dapp/src/components/account/AccountAddress.tsx
  apps/tangle-dapp/src/containers/restaking/UnstakeRequestTableActions.tsx
  apps/tangle-dapp/src/containers/restaking/WithdrawRequestTableActions.tsx
  apps/tangle-dapp/src/hooks/useWalletAccounts.ts
  apps/tangle-dapp/src/pages/restake/delegate/index.tsx
  apps/tangle-dapp/src/pages/restake/deposit/DepositForm.tsx
  apps/tangle-dapp/src/pages/restake/unstake/index.tsx
  apps/tangle-dapp/src/pages/restake/withdraw/index.tsx
  libs/abstract-api-provider/src/types.ts
  libs/api-provider-environment/src/WebbProvider/index.tsx
  libs/api-provider-environment/src/transaction/utils/makeExplorerUrl.ts
  libs/dapp-config/src/wallets/wallet-config.interface.ts
  libs/dapp-config/src/wallets/wallets-config.tsx
  libs/dapp-types/src/ChainId.ts
  libs/dapp-types/src/SolanaChainId.ts
  libs/dapp-types/src/WalletId.ts
  libs/dapp-types/src/WebbError.ts
  libs/icons/src/wallets/PhantomWallet.tsx
  libs/icons/src/wallets/index.ts
  libs/solana-api-provider/README.md
  libs/solana-api-provider/eslint.config.cjs
  libs/solana-api-provider/jest.config.ts
  libs/solana-api-provider/package.json
  libs/solana-api-provider/project.json
  libs/solana-api-provider/src/ext-provider/index.ts
  libs/solana-api-provider/src/ext-provider/solana-accounts.ts
  libs/solana-api-provider/src/ext-provider/solana-provider.ts
  libs/solana-api-provider/src/index.ts
  libs/solana-api-provider/src/webb-provider.ts
  libs/solana-api-provider/tsconfig.json
  libs/solana-api-provider/tsconfig.lib.json
  libs/solana-api-provider/tsconfig.spec.json
  libs/tangle-shared-ui/src/components/ConnectWalletButton/ConnectWalletButton.tsx
  libs/tangle-shared-ui/src/components/ConnectWalletButton/ConnectWalletModal.tsx
  libs/tangle-shared-ui/src/components/ConnectWalletButton/WalletDropdown.tsx
  libs/tangle-shared-ui/src/components/NetworkSelectorDropdown/index.tsx
  libs/tangle-shared-ui/src/components/UpdateMetadataButton/UpdateMetadataButton.tsx
  libs/tangle-shared-ui/src/constants/bridge.ts
  libs/tangle-shared-ui/src/hooks/useActiveAccountAddress.ts
  libs/tangle-shared-ui/src/hooks/useAgnosticAccountInfo.ts
  libs/tangle-shared-ui/src/hooks/useAgnosticTx.ts
  libs/tangle-shared-ui/src/hooks/useSubstrateAddress.ts
  libs/tangle-shared-ui/src/types/index.ts
  libs/ui-components/src/components/buttons/WalletButton.tsx
  libs/ui-components/src/constants/networks.ts
  libs/ui-components/src/utils/assertSolanaAddress.ts
  libs/ui-components/src/utils/index.ts
  libs/ui-components/src/utils/toSubstrateAddress.ts
  package.json
  tsconfig.base.json
  yarn.lock
Labels: app: tangle-dapp

#2956 chore(tangle-dapp): Improve Vault Table
  apps/leaderboard/src/app/Navbar.tsx
  apps/tangle-cloud/src/pages/instances/TotalValueLocked/index.tsx
  apps/tangle-dapp/src/components/PayoutsTable.tsx
  apps/tangle-dapp/src/components/ValidatorSelectionTable.tsx
  apps/tangle-dapp/src/components/ValidatorTable.tsx
  apps/tangle-dapp/src/components/nomination/NominationsTable.tsx
  apps/tangle-dapp/src/components/tableCells/index.ts
  apps/tangle-dapp/src/components/tableCells/types.ts
  apps/tangle-dapp/src/components/tables/Vaults/index.tsx
  apps/tangle-dapp/src/hooks/useVaultTableData.tsx
  apps/tangle-dapp/src/pages/nomination/[validatorAddress]/NodeSpecificationsTable.tsx
  libs/tangle-shared-ui/src/components/tables/HeaderCell.tsx
  libs/tangle-shared-ui/src/components/tables/VaultAssets/index.tsx
  libs/tangle-shared-ui/src/components/tables/VaultAssets/types.ts
  libs/tangle-shared-ui/src/data/rewards/useVaultRewards.ts
  libs/tangle-shared-ui/src/utils/createVaultMap.ts
  libs/ui-components/src/css/layer-components.css
  tailwind.config.ts
Labels: needs review 🔎

#2955 feat(tangle-cloud): deploy blueprint assets configuration step
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/AssetConfigurationStep.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/BasicInformationStep.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/OperatorSelectionStep.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/components/AssetRequirementFormItem.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/components/OperatorTable.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/type.ts
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/page.tsx
  apps/tangle-cloud/src/pages/instances/Instances/PendingInstanceTable.tsx
  apps/tangle-cloud/src/pages/instances/Instances/UpdateBlueprintModel/ApproveConfirmationModal.tsx
  apps/tangle-cloud/src/utils/index.ts
  apps/tangle-cloud/src/utils/validations/deployBlueprint.ts
  libs/tangle-shared-ui/src/data/blueprints/useBlueprintRegisteredOperator.ts
  libs/tangle-shared-ui/src/data/blueprints/utils/type.ts
  libs/tangle-shared-ui/src/hooks/useAssetsMetadata.ts
Labels: needs review 🔎, app: tangle-cloud ☁️

#2969 fix(tangle-shared-ui): Update Tx Eligible Check
  apps/tangle-cloud/src/app/app.spec.tsx
  apps/tangle-cloud/src/app/providers.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/OperatorSelectionStep.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/components/OperatorTable.tsx
  apps/tangle-cloud/src/pages/instances/AccountStatsCard.tsx
  apps/tangle-cloud/src/pages/instances/TotalValueLocked/index.tsx
  apps/tangle-cloud/tsconfig.spec.json
  apps/tangle-cloud/vite.config.ts
  apps/tangle-dapp/src/app/providers.tsx
  apps/tangle-dapp/src/containers/restaking/RestakeOverviewTabs.tsx
  apps/tangle-dapp/src/data/restake/useRestakeApi.ts
  apps/tangle-dapp/src/pages/restake/delegate/RestakeDelegateInput.tsx
  apps/tangle-dapp/src/pages/restake/delegate/index.tsx
  apps/tangle-dapp/src/pages/restake/deposit/DepositForm.tsx
  apps/tangle-dapp/src/pages/restake/deposit/SourceChainInput.tsx
  apps/tangle-dapp/src/pages/restake/index.tsx
  apps/tangle-dapp/src/pages/restake/operators/[address]/index.tsx
  apps/tangle-dapp/src/pages/restake/unstake/index.tsx
  apps/tangle-dapp/src/pages/restake/withdraw/index.tsx
  apps/tangle-dapp/vite.config.ts
  libs/tangle-shared-ui/src/context/PolkadotApiContext.tsx
  libs/tangle-shared-ui/src/context/PolkadotApiProvider.tsx
  libs/tangle-shared-ui/src/data/blueprints/useBlueprintListing.ts
  libs/tangle-shared-ui/src/data/blueprints/useMonitoringBlueprints.ts
  libs/tangle-shared-ui/src/data/restake/useBlueprintDetails.ts
  libs/tangle-shared-ui/src/data/restake/useRestakeOperatorMap.ts
  libs/tangle-shared-ui/src/hooks/useAgnosticTx.ts
  libs/tangle-shared-ui/src/hooks/useBalances.ts
  libs/tangle-shared-ui/src/hooks/useEvmPrecompileCall.ts
  libs/tangle-shared-ui/src/hooks/useIsEvmTxRelayerCandidate.ts
  libs/tangle-shared-ui/src/hooks/usePolkadotApi.ts
  libs/tangle-shared-ui/src/hooks/useSubstrateAddress.ts
Labels: needs review 👓

#2957 feat(tangle-cloud): blueprint deployment request args configuration & finalization
  apps/tangle-cloud/src/components/InstanceHeader.tsx
  apps/tangle-cloud/src/components/Sidebar.tsx
  apps/tangle-cloud/src/constants/index.ts
  apps/tangle-cloud/src/data/services/useServiceRegisterTx.ts
  apps/tangle-cloud/src/data/services/useServicesApproveTx.ts
  apps/tangle-cloud/src/data/services/useServicesRegisterTx.ts
  apps/tangle-cloud/src/data/services/useServicesRequestTx.ts
  apps/tangle-cloud/src/hooks/useTxNotification.tsx
  apps/tangle-cloud/src/pages/blueprints/PricingModal/types.ts
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/AssetConfigurationStep.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/BasicInformationStep.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/Deployment.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/InstructionSideCard.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/OperatorSelectionStep.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/PaymentStep.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/RequestArgsConfigurationStep.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/components/AssetRequirementFormItem.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/components/OperatorTable.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/type.ts
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/page.tsx
  apps/tangle-cloud/src/pages/registrationReview/RegistrationForm/ParamsForm.tsx
  apps/tangle-cloud/src/pages/registrationReview/page.tsx
  apps/tangle-cloud/src/utils/toPrimitiveArgsDataType.ts
  apps/tangle-cloud/src/utils/validations/deployBlueprint.ts
  apps/tangle-dapp/src/components/LiquidStaking/stakeAndUnstake/UnstakePeriodDetailItem.tsx
  apps/tangle-dapp/src/containers/BalancesTableContainer/LockedBalanceDetails/DemocracyUnlockingAt.tsx
  apps/tangle-dapp/src/containers/BalancesTableContainer/LockedBalanceDetails/VestingSchedulesUnlockingAt.tsx
  apps/tangle-dapp/src/containers/BalancesTableContainer/useLongestVestingScheduleTime.ts
  apps/tangle-dapp/src/containers/LockedBalancesTable/useVestingLockRows.ts
  apps/tangle-dapp/src/containers/restaking/JoinOperatorsModal.tsx
  apps/tangle-dapp/src/data/balances/useExistentialDeposit.ts
  apps/tangle-dapp/src/data/liquidStaking/apy/useLsPoolCompoundApys.ts
  apps/tangle-dapp/src/data/restake/useRestakeConsts.ts
  apps/tangle-dapp/src/data/useSessionDurationMs.ts
  apps/tangle-dapp/src/data/validatorDetails/useValidatorInfoCard.ts
  libs/tangle-shared-ui/src/components/PrimitiveFieldTypeInput.tsx
  libs/tangle-shared-ui/src/data/blueprints/useBlueprintRegisteredOperator.ts
  libs/tangle-shared-ui/src/data/blueprints/useServicePalletConfig.ts
  libs/tangle-shared-ui/src/data/blueprints/utils/blueprintHelpers.ts
  libs/tangle-shared-ui/src/data/blueprints/utils/toPrimitiveService.ts
  libs/tangle-shared-ui/src/data/restake/useBlueprintDetails.ts
  libs/tangle-shared-ui/src/data/restake/useRestakeAssets.ts
  libs/tangle-shared-ui/src/hooks/useApi.ts
  libs/tangle-shared-ui/src/hooks/useAssets.ts
  libs/tangle-shared-ui/src/hooks/useAssetsMetadata.ts
  libs/tangle-shared-ui/src/types/blueprint.ts
  libs/tangle-shared-ui/src/utils/createMembershipModelEnum.ts
Labels: needs review 👓, app: tangle-cloud ☁️

#2973 chore(tangle-dapp): Refactor restake page with new tab navigation and content structure
  apps/tangle-dapp/src/app/app.tsx
  apps/tangle-dapp/src/constants/index.ts
  apps/tangle-dapp/src/containers/restaking/RestakeTabContent.tsx
  apps/tangle-dapp/src/pages/restake/RestakeActionTabs.tsx
  apps/tangle-dapp/src/pages/restake/RestakeTabs.tsx
  apps/tangle-dapp/src/pages/restake/delegate/index.tsx
  apps/tangle-dapp/src/pages/restake/deposit/DepositForm.tsx
  apps/tangle-dapp/src/pages/restake/unstake/index.tsx
  apps/tangle-dapp/src/pages/restake/withdraw/index.tsx
  apps/tangle-dapp/src/types/index.ts
Labels: app: tangle-dapp, needs review 👓

#2974 [RELEASE] tangle-dapp v0.1.2
  apps/tangle-dapp/CHANGELOG.md
  apps/tangle-dapp/package.json
  apps/tangle-dapp/src/pages/restake/delegate/index.tsx
  apps/tangle-dapp/src/pages/restake/deposit/DepositForm.tsx
  libs/tangle-shared-ui/src/data/restake/useDelegatorTVL.ts
  libs/tangle-shared-ui/src/data/restake/useOperatorConcentration.ts
  libs/tangle-shared-ui/src/data/restake/useOperatorTVL.ts
  libs/tangle-shared-ui/src/hooks/useApiRx.ts
Labels: needs review 👓

#2987 feat(tangle-cloud): List all blueprints
  apps/tangle-cloud/src/app/app.tsx
  apps/tangle-cloud/src/app/providers.tsx
  apps/tangle-cloud/src/constants/cloudInstruction.tsx
  apps/tangle-cloud/src/constants/swr.ts
  apps/tangle-cloud/src/data/base/BaseSubstrateApi.ts
  apps/tangle-cloud/src/pages/blueprints/ConfigurePricingModal/ConfigurePricingModal.tsx
  apps/tangle-cloud/src/pages/blueprints/ConfigurePricingModal/FormActions.tsx
  apps/tangle-cloud/src/pages/blueprints/ConfigurePricingModal/GlobalPricingFields.tsx
  apps/tangle-cloud/src/pages/blueprints/ConfigurePricingModal/IndividualPricingField.tsx
  apps/tangle-cloud/src/pages/blueprints/ConfigurePricingModal/InputsWrapper.tsx
  apps/tangle-cloud/src/pages/blueprints/ConfigurePricingModal/PriceField.tsx
  apps/tangle-cloud/src/pages/blueprints/ConfigurePricingModal/index.ts
  apps/tangle-cloud/src/pages/blueprints/ConfigurePricingModal/inputs.ts
  apps/tangle-cloud/src/pages/blueprints/ConfigurePricingModal/types.ts
  apps/tangle-cloud/src/pages/blueprints/PricingModal/index.ts
  apps/tangle-cloud/src/pages/blueprints/[id]/page.tsx
  apps/tangle-cloud/src/pages/blueprints/page.tsx
  apps/tangle-cloud/src/pages/instances/TotalValueLocked/TotalValueLockedTable.tsx
  apps/tangle-cloud/src/pages/registrationReview/page.tsx
  apps/tangle-cloud/src/utils/index.ts
  apps/tangle-cloud/src/utils/validations/deployBlueprint.ts
  apps/tangle-cloud/src/utils/validations/validateSecurityCommitment.ts
  apps/tangle-dapp/src/components/LiquidStaking/stakeAndUnstake/LsStakeCard.tsx
  apps/tangle-dapp/src/containers/restaking/SelectBlueprintsModal.tsx
  apps/tangle-dapp/src/containers/restaking/SelectOperatorModal.tsx
  apps/tangle-dapp/src/containers/restaking/WithdrawModal.tsx
  apps/tangle-dapp/src/pages/blueprints/[id]/index.tsx
  apps/tangle-dapp/src/pages/restake/delegate/index.tsx
  apps/tangle-dapp/src/pages/restake/deposit/DepositForm.tsx
  libs/tangle-shared-ui/src/components/blueprints/BlueprintGallery/BlueprintGallery.tsx
  libs/tangle-shared-ui/src/data/blueprints/useAllBlueprints.ts
  libs/tangle-shared-ui/src/data/blueprints/utils/blueprintHelpers.ts
  libs/tangle-shared-ui/src/data/blueprints/utils/toPrimitiveBlueprint.ts
  libs/tangle-shared-ui/src/utils/filterBy.ts
  libs/ui-components/src/components/Alert/Alert.tsx
  libs/ui-components/src/components/ErrorFallback/ErrorFallback.tsx
  package.json
  yarn.lock
Labels: type: feature ➕, app: tangle-cloud ☁️

#2976 refactor(tangle-cloud): Polish Tangle Cloud home page UI
  apps/tangle-cloud/src/components/Sidebar.tsx
  apps/tangle-cloud/src/components/accountStatsCard/AccountStatsCardBody.tsx
  apps/tangle-cloud/src/components/accountStatsCard/index.ts
  apps/tangle-cloud/src/data/operators/useOperatorStatsData.ts
  apps/tangle-cloud/src/data/operators/useUserStatsData.ts
  apps/tangle-cloud/src/hooks/useOperatorInfo.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/AssetConfigurationStep.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/BasicInformationStep.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/OperatorSelectionStep.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/deploy/DeploySteps/PaymentStep.tsx
  apps/tangle-cloud/src/pages/blueprints/[id]/page.tsx
  apps/tangle-cloud/src/pages/blueprints/page.tsx
  apps/tangle-cloud/src/pages/instances/AccountStatsCard.tsx
  apps/tangle-cloud/src/pages/instances/BlueprintManagementSection.tsx
  apps/tangle-cloud/src/pages/instances/Instances/PendingInstanceTable.tsx
  apps/tangle-cloud/src/pages/instances/Instances/RunningInstanceTable.tsx
  apps/tangle-cloud/src/pages/instances/Instances/StoppedInstanceTable.tsx
  apps/tangle-cloud/src/pages/instances/Instances/index.tsx
  apps/tangle-cloud/src/pages/instances/Instances/type.ts
  apps/tangle-cloud/src/pages/instances/InstructionCard.tsx
  apps/tangle-cloud/src/pages/instances/RegisteredBlueprints/RegisteredBlueprints.tsx
  apps/tangle-cloud/src/pages/instances/RegisteredBlueprints/index.tsx
  apps/tangle-cloud/src/pages/instances/page.tsx
  apps/tangle-cloud/src/utils/validations/deployBlueprint.ts
  libs/tangle-shared-ui/src/components/blueprints/BlueprintHeader.tsx
  libs/tangle-shared-ui/src/data/blueprints/useAllBlueprints.ts
  libs/tangle-shared-ui/src/data/blueprints/useMonitoringBlueprints.ts
  libs/tangle-shared-ui/src/data/blueprints/useRegisteredBlueprints.ts
  libs/tangle-shared-ui/src/data/blueprints/utils/blueprintHelpers.ts
  libs/ui-components/src/components/Stats/types.ts
Labels: needs review 👓, app: tangle-cloud ☁️

#2999 fix(tangle-dapp): Fix Sorting Issue & Add Faucet Link
  apps/tangle-dapp/src/components/Sidebar/sidebarProps.tsx
  apps/tangle-dapp/src/components/account/ActionItem.tsx
  apps/tangle-dapp/src/components/account/Actions.tsx
  apps/tangle-dapp/src/components/tables/Vaults/VaultsTable.tsx
  libs/ui-components/src/constants/index.ts
Labels: needs review 👓

#3002 fix(tangle-dapp): Asset modal, restake action tabs & wallet dropdown fixes
  .windsurfrules
  apps/tangle-dapp/src/components/Lists/AssetListItem.tsx
  apps/tangle-dapp/src/components/restaking/TabListItem.tsx
  libs/dapp-config/src/chains/substrate/index.tsx
  libs/tangle-shared-ui/src/components/ConnectWalletButton/WalletDropdown.tsx
Labels: app: tangle-dapp

#3003 fix(tangle-cloud): sidebar, tab colors & instruction component fixes
  apps/tangle-cloud/src/components/Layout.tsx
  apps/tangle-cloud/src/components/Sidebar.tsx
  apps/tangle-cloud/src/pages/instances/InstructionCard.tsx
  libs/ui-components/src/components/TableAndChartTabs/TableAndChartTabs.tsx
Labels: app: tangle-cloud ☁️

#3004 fix(tangle-dapp): Fixes empty operators list in restake page
  apps/tangle-cloud/src/pages/instances/InstructionCard.tsx
  apps/tangle-dapp/src/containers/restaking/OperatorsTable.tsx
  apps/tangle-dapp/src/containers/restaking/RestakeTabContent.tsx
  apps/tangle-dapp/src/pages/restake/delegate/index.tsx
  libs/tangle-shared-ui/src/data/restake/useRestakeOperatorMap.ts
Labels: app: tangle-dapp, needs review 👓, app: tangle-cloud ☁️
